<div class="container col">
  <h2 style="text-align: center">Tickets Page</h2>
  <app-ticket-search-box (onSearch)="handleSearch($event)"></app-ticket-search-box>
  <ng-container *ngIf="tickets$ | async as tickets; else loading">
    <app-ticket-list [tickets]="tickets"></app-ticket-list>
  </ng-container>
</div>
<ng-template #loading>
  <ul>
    <li>Loading Tickets...</li>
  </ul>
</ng-template>
