<nav role='navigation' class="main-nav" id="main-nav">
  <ul id="main-nav-list">
    <li>
      <a [routerLink]="['/tickets']">List</a>
    </li>
    <li>
      <a [routerLink]="['/ticket/new']">Create</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<div *ngIf="(loading$ | async)" class="container">
  <ul>
    <li>Loading ...</li>
  </ul>
</div>
