<ul *ngIf="tickets?.length >=0; else empty">
  <li *ngFor="let t of tickets; trackBy: trackByFn">
    <a [routerLink]="['/ticket', t.id]">{{t.id}} {{t.description}}</a>
  </li>
</ul>

<ng-template #empty>
  <ul>
    <li>No tickets</li>
  </ul>
</ng-template>

