/* You can add global styles to this file, and also import other style files */
body {
  font-family: verdana;
}

label {
  width: 200px;
  height: 20px;
}

.container {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

nav {
  background: grey;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  flex: 1;
}

nav ul, ul.row {
  flex-direction: row;
}

div ul, ul.col {
  flex-direction: column;
}

li {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  padding: 1.25rem 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}

a:hover, a:focus {
  background: #ccc;
  color: black;
}

form, fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 10%;
}

input, textarea {
  flex: 1;
  border: none;
  width: 100%;
}

button {
  padding: 16px 16px;
  border: none;
  background: black;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
}




