<div class="container">
  <ul *ngIf="ticket$ | async as ticket; else loading">
    <li *ngIf="!(store.loading$ | async) as loading; else loading">
      <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
        <fieldset>
          <label for="ticket.id">ID:</label>
          <input formControlName="id" name="id" id="ticket.id" [value]="ticket.id">
        </fieldset>
        <fieldset>
          <label for="ticket.description">Description:</label>
          <textarea name="description" formControlName="description" rows="3" id="ticket.description" [value]="ticket.description"></textarea>
        </fieldset>
        <fieldset>
          <ul class="row">
            <li style="flex: 1">
              <label for="ticketed.completed">Completed</label>
              <input formControlName="completed" name="completed" type="checkbox" id="ticketed.completed" >
            </li>
            <li *ngIf="users$ | async as users" style="flex: 3">
              <label for="ticket.assigneeId">Assigned</label>
              <select formControlName="assigneeId" name="assigneeId" id="ticket.assigneeId" >
                <option *ngFor="let user of users" [ngValue]="user.id">
                  {{user.name}}
                </option>
              </select>
            </li>
          </ul>
        </fieldset>
        <fieldset>
           <input formControlName="error" name="error" id="ticket.error" >
        </fieldset>
        <ul *ngIf="editing" class="row">
          <li>
            <button type="submit">Submit</button>
          </li>
          <li>
            <button type="button" (click)="this.editing = false" >Cancel</button>
          </li>
        </ul>
        <button type="button" *ngIf="!editing" (click)="this.editing = true">Edit</button>
      </form>
    </li>
    <a [routerLink]="['/tickets']">Back</a>
  </ul>
</div>

<ng-template #loading>
  <ul>
    <li>Loading Ticket...</li>
    <a [routerLink]="['/tickets']">Cancel</a>
  </ul>
</ng-template>


